@charset "UTF-8";

.cht_main_uk {
	border-left: solid 1px gray;
	position: fixed;
	right: 0;
	padding: 0;
	height: 100vh;
}

.cht_send_uk {
	position: absolute;
	bottom: 90px;
	right: 0px;
	width: 100%;
}

.cht_bottom_uk {
	position: absolute;
	bottom: 60px;
	left: 0px;
	width: 100%;
}