@charset "UTF-8";



/* .no_c {
	display: inline-block !important;
	width: 5% !important;
	text-align: center !important;
} */
.list_c :hover{
	color : black;
	background-color: white;
}
.list_list{
	padding: 15px;
}
.here{
	background : #00D8FF;
}
.product_name_c :hover{
	font-weight: 900;
	color: #FFFFC6;
}
.product_list_c{
	border-top: 1px solid #c0c0c0;
	margin-top: 0;
	text-align: left;
}