@charset "UTF-8";



/* .no_c {
	display: inline-block !important;
	width: 5% !important;
	text-align: center !important;
} */
.list_c :hover{
	color : black;
	background-color: white;
}
.list_list{
	padding: 15px;
}
/*
.name_c{
	display: inline-block;
	width: 200px !important ; 
}
.price_c{
	display: inline-block;
	width: 50px !important ;
}
.save_c{
	display: inline-block;
	width: 100px !important ;
	
	
}
.status_c{
	display: inline-block;
	width: 50px !important ;
	
	
}
.hit_c{
	display: inline-block;
	width: 50px !important ;
	
	
}
.order_c{
	display: inline-block;
	width: 50px !important ;
	
	
}
.sell_c{
	display: inline-block;
	width: 50px !important ;
	
	
}
.interest_c{
	display: inline-block;
	width: 50px !important ;
	
	
}
.put_c{
	display: inline-block;
	width: 50px !important ;
	
	
}
.stock_c{
	display: inline-block;
	width: 50px !important ;
	
	
} */