@charset "UTF-8";
.member_table{
	border:1px solid #2b3553;
	background:none;
}
.member_table th{
	color:hsla(0,0%,100%,.7);
}
.member_table thead{
	background:#1e1e2f;
}
.mdl-button{
	color:#fff;
} 
.mdl-button--raised.mdl-button--colored{
	background:#e14eca;
}
.mdl-button--raised.mdl-button--colored:hover{
	background:#e14eca;
}
.dataTables_wrapper .dt-buttons {
	position: relative;
    top: 15px;
    margin-left: 18px;
}
button.dt-button{
	    border: 1px solid #e14eca;
	    background: none;
	    color:#9a9a9a
}
button.dt-button:hover:not(.disabled), div.dt-button:hover:not(.disabled), a.dt-button:hover:not(.disabled){
	background:#2b3553;
	border: 1px solid #e14eca;
}
.mdl-data-table td{
	border-bottom:1px solid #2b3553;
	border-top:1px solid #2b3553;
}

/*end of member_select*/

.member_header .bootstrap-select.btn-group:not(.input-group-btn){
	display: inline-block;
    width: 125px;
}

.member_input{
	display: inline-block;
    width: 74px;
}
.bootstrap-select.btn-group .dropdown-toggle .filter-option{
	top:2px;
}

.member_img{
	width: 118px;
    margin-left: 15px;
}
input[type="file"]{
	/*display: inline-block;
    position: relative;
    top: 45px;
    margin-left: 13px;*/
}

@media (max-width:535px){
   input[type="file"]{
   	/*display: block;
    position: unset;
    margin-top: 23px;*/

   }
}

.filebox label { 
	display: inline-block; 
	padding: .5em .75em;
 	color: #fff; 
 	font-size: inherit;
 	line-height: normal; 
  	vertical-align: middle; 
  	background-image: #1e1e2f;
  	cursor: pointer;
   	border-bottom-color: #e2e2e2; 
   	border-radius: .25em;
   	position: relative;
    top: 38px;
    margin-left: 5px;
    border:1px solid #e14eca;
}
.filebox input[type="file"] { /* 파일 필드 숨기기 */
position: absolute; 
width: 1px;
 height: 1px;
  padding: 0; 
  margin: -1px; 
  overflow: hidden;
   clip:rect(0,0,0,0); 
   border: 0; 
   }
.filebox{
	display:inline-block;
}
.introduce{
	margin-left: 31px;
	width: 94%;
	background:none;
}
.birth{
	margin-left: 15px;
}
.birth p{
	margin-left: 12px;
}
.saveButton{
	text-align:center;
}
.saveButton button{
	width:153px;
	background:linear-gradient(to bottom left,#e14eca,#ba54f5,#e14eca);
	color:#fff;
}
.member_insert input{
	background:none;
}

/*member_view shop-list*/

.member_shop_list{
	width: 140px;
    height: 140px;
}
.total_buy{
	display: inline-block !important;
    margin-left: 10px;
}

/*category_insert*/
.category_img{
	width: 183px;
    height:241px;
    margin-left: 15px;
}
.filebox2 label { 
	display: inline-block; 
	padding: .5em .75em;
 	color: #fff; 
 	font-size: inherit;
 	line-height: normal; 
  	vertical-align: middle; 
  	background-image: #1e1e2f;
  	cursor: pointer;
   	border-bottom-color: #e2e2e2; 
   	border-radius: .25em;
   	position: relative;
    margin-left: 30px;
    border:1px solid #e14eca;
}
.filebox2 input[type="file"] { /* 파일 필드 숨기기 */
	position: absolute; 	
	width: 1px;
 	height: 1px;
  	padding: 0; 
  	margin: -1px; 
  	overflow: hidden;
   	clip:rect(0,0,0,0); 
   	border: 0; 
   }
.category_insert{
	display: flex;
}
.category_name{
	margin-left: 26px;
	margin-top: 59px;
}
.category_name input{
	background:none;
}
.btn-defalt{
	background-color:  #e14eca;
	color:#fff;
}
.category_name_modify{
	background: none;
    margin-left: 14px;
}
.cate_name_label{
	margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 14px;
}
.cate_tag_label{
	margin-top: 10px;
    margin-bottom: 5px;
}
.demo-tagsinput-area{
    margin-left: 14px;
}
.modal-title{
	color: #fff;
}
.btn-modal{
	background: #e14eca;
    color: #fff;
}
.cate_modi_content{
	background: #1e1e2f;
}
/*tag_management*/
#search_icon{
	font-size: 38px;
}
.search_input{
	background: none;
}
.serach_input_group{
	border: 1px solid  #e14eca;
}
.teg_manage .bootstrap-tagsinput .tag {
	display: inline-block;
    margin-bottom: 10px;
}
.teg_manage .label{
	font-size: 100%;
}
@media(max-width:881px){
	#rightsidebar{
		display:none;
	}
	.media{
		width:82%;
	}
	.control{
		width:82%;
	}
}
@media(min-width:881px){
	.media{
		width:75%;
	}
	.control{
		width:75%;
	}
}

/*streamer_detail*/
.streamer_profile{
	background:none;
	border: 1px solid  #e14eca;
}
.str_profile_label{
	margin-top:10px;
	margin-bottom:10px;
	
}
.new_help_header .dropdown{
	width: 121px !important;
    margin-left: 10px;
}
.new_help_save{
	margin-top:17px;
}
.help_detail_btn{
	text-align:center;
}
