<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mybatis_uk">

	<!-- 채팅 기록 -->
	<insert id="cht" parameterType="bean.Cht">
		insert into final_cht(cht_serial, cht_mid, cht_oid, cht_txt, cht_date)
		values(final_cht_seq.nextval, #{cht_mid}, #{cht_oid}, #{cht_txt}, sysdate)
	</insert>

	<!-- 유저 입장 -->
	<insert id="enter" parameterType="bean.UserList">
		insert into final_userlist(serial, mid, oid, status, enter_time)
		values(final_userlist_seq.nextval, #{mid}, #{oid}, #{status}, sysdate)
	</insert>

	<!-- 유저 퇴장 -->
	<update id="exit" parameterType="bean.UserList">
		update final_userlist
		set status=#{status}, exit_time=sysdate
		where mid=#{mid}
		and oid=#{oid}
		and status=1
	</update>

	<!-- 팔로우 알림보낼려면 목록 필요함 -->
	<select id="followList" parameterType="String" resultType="String">
		select  mfo_oid
		from final_mfollow
		where mfo_mid=#{_parameter}
	</select>

</mapper>