<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mybatis_uk">

	<!-- 채팅 기록 -->
	<insert id="cht" parameterType="bean.Cht">
		insert into final_cht(cht_serial, cht_mid, cht_oid, cht_txt, cht_date)
		values(final_cht_seq.nextval, #{cht_mid}, #{cht_oid}, #{cht_txt}, sysdate)
	</insert>

	<!-- 유저 입장 -->
	<insert id="enter" parameterType="bean.UserList">
		insert into final_userlist(serial, mid, oid, status, enter_time, gname)
		values(final_userlist_seq.nextval, #{mid}, #{oid}, #{status}, sysdate, (select air_gname from final_onAir where air_mid=#{oid}))
	</insert>

	<!-- 유저 퇴장 -->
	<update id="exit" parameterType="bean.UserList">
		update final_userlist
		set status=#{status}, exit_time=sysdate
		where mid=#{mid}
		and oid=#{oid}
		and status=1
	</update>

	<!-- 팔로우 알림보낼려면 목록 필요함 -->
	<select id="followList" parameterType="String" resultType="String">
		select  mfo_mid
		from final_mfollow
		where mfo_oid=#{_parameter}
	</select>

	<!-- 스트리머 방송중 -->
	<select id="onAir" parameterType="String" resultType="String">
		select air_mid
		from final_onair
		where air_mid=#{_parameter}
	</select>

	<!-- 친추 수락1 -->
	<insert id="plusOk1" parameterType="bean.Friend">
		insert into final_friend
		values(seq_friend.nextval, sysdate, 1, #{fr_oid}, #{fr_mid})
	</insert>

	<!-- 친추 수락2 -->
	<insert id="plusOk2" parameterType="bean.Friend">
		insert into final_friend
		values(seq_friend.nextval, sysdate, 1, #{fr_mid}, #{fr_oid})
	</insert>

	<!-- 귓속말 저장-->
	<insert id="whisperIn" parameterType="bean.Whisper">
		insert into final_whisper
		values(seq_whisper.nextval, #{writer}, #{reader}, #{txt}, sysdate)
	</insert>

	<!-- 귓속말 조회 -->
	<select id="whisperSel" parameterType="bean.Whisper" resultType="bean.Whisper">
		select writer, txt
		from final_whisper
		where (writer=#{writer} and reader=#{reader})
		or (writer=#{reader} and reader=#{writer})
	</select>

	<!-- 채팅 금지 저장 -->
	<insert id="ignoreIn" parameterType="bean.Ignore">
		insert into final_ignore
		values(seq_ignore.nextval, #{ign_mid}, #{ign_tid}, #{ign_global} )
	</insert>

	<!-- 나를 채팅 금지한 스트리머 조회 -->
	<select id="ignoredSel" parameterType="String" resultType="String">
		select ign_mid
		from final_ignore
		where ign_tid=#{_parameter}
		and ign_global=1
	</select>

	<!-- 내가 채팅 금지한 사람 목록 조회 -->
	<select id="ignoringSel" parameterType="String" resultType="String">
		select ign_tid
		from final_ignore
		where ign_mid=#{_parameter}
		and ign_global=0
	</select>
	<!-- 하은 부탁 -->
	<insert id="viewerCnt" parameterType="bean.ViewerCnt">
		insert into final_viewercnt
		values(seq_viewerCnt.nextval, #{mid}, ${viewer}, sysdate)
	</insert>

</mapper>